node_modules

test/
*.spec.ts
*.e2e-spec.ts

*.env
.env.*

.git
.gitignore

.vscode/
.idea/

Dockerfile
.dockerignore

*.log
dist/
coverage/
tmp/
temp/
logs/
.eslintcache
*.tsbuildinfo

.npm/
.yarn/
.cache/

.env.testing
.env.development.local

.editorconfig
.prettierrc
.eslintrc
.eslintignore

README.md
LICENSE
CONTRIBUTING.md

test-results/
.DS_Store
Thumbs.db
